ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.profile {
  width: 400px;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;

  text-align: center;
  background-color: rgb(216, 214, 214);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.description {
  border: 1px solid black;
  background-color: white;
}

.avatar {
  width: 70%;
  border-radius: 50%;
  padding-top: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.tag,
.location,
.label {
  color: rgb(107, 129, 129);
}

.stats {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);

  border: 1px solid black;
}

.label {
  padding-top: 20px;
  padding-bottom: 5px;
}

.quantity {
  padding-bottom: 20px;
  font-weight: bold;
}
