.statList {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.statistics {
  width: 600px;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  text-align: center;
  background-color: white;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.title {
  padding-top: 50px;
  padding-bottom: 30px;

  text-transform: uppercase;
  text-shadow: 1px 1px 20px #b1afaf;
  color: rgb(64, 75, 75);
}

.statList {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.label {
  padding-top: 15px;
  color: aliceblue;
  font-size: 20px;
}

.percentage {
  padding-top: 10px;
  color: aliceblue;
}
